<div class="box-padding">
  <div
    class="card"
    *ngIf="!service.localStorage.get('userLogin')['groupid_fk']"
  >
    <div class="card-body">
      <div class="mb-3">
        <h2>เข้ากลุ่มเรียน</h2>
      </div>
      <table class="table table-sm table-borderless table-hover">
        <thead>
          <tr>
            <th>ชื่อกลุ่มเรียน</th>
            <th>ผู้ดูแลกลุ่ม</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of Allgroupstudent; let i = index">
            <td style="vertical-align: middle;">{{ x.name }}</td>
            <td style="vertical-align: middle;">{{ x.owner }}</td>
            <td style="vertical-align: middle;">
              <button
                type="button"
                class="btn btn-success btn-sm"
                (click)="
                  service.modal.show('modalJoinGroup');
                  formJoingroup.patchValue({
                    groupName: x.name,
                    groupID: x.groupID
                  })
                "
              >
                เข้ากลุ่มเรียน
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card" *ngIf="service.localStorage.get('userLogin')['groupid_fk']">
    <div class="card-body">
      <h2>
        กลุ่มเรียน&nbsp;{{ service.localStorage.get("userLogin")["groupname"] }}
      </h2>
      <p>
        {{ service.localStorage.get("userLogin")["owner"] }}
      </p>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalJoinGroup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalJoinGroupLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form
        [formGroup]="formJoingroup"
        (ngSubmit)="formJoingroup.valid ? onJoinGroup() : ''"
      >
        <div class="modal-header">
          <h3 class="modal-title" id="modalJoinGroupLabel">
            เข้ากลุ่มเรียน {{ formJoingroup.value.groupName }}
          </h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <mat-form-field appearance="outline">
            <mat-label>รหัสเข้ากลุ่มเรียน</mat-label>
            <input
              matInput
              placeholder=""
              type="text"
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            ยกเลิก
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="formJoingroup.invalid"
          >
            ตกลง
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
