<p>change-password works!</p>
<div class="text-center mb-3">
<form
[formGroup]="formChangepassword"
(ngSubmit)="formChangepassword.valid ? onChangepassword() : ''"
>
<div class="mb-3">
  <mat-form-field>
    <input
      matInput
      placeholder="รหัสผ่านเก่า (oldPassword)"
      type="password"
      required
      formControlName="oldpassword"
    />
  </mat-form-field>
</div>

  <div class="mb-3">
    <mat-form-field>
      <input
        matInput
        placeholder="รหัสผ่าน (Password)"
        type="password"
        formControlName="password"
        required
      />
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-form-field>
      <input
        matInput
        placeholder="ยืนยันรหัสผ่าน (Password)"
        type="password"
        formControlName="password2"
        required
      />
    </mat-form-field>
  </div>
  <div style="margin-top: 20px;" class="text-center mb-1">
    <button type="submit" class="btn btn-primary">
      ตกลง
    </button>
  </div>
</form>
