<div class="box-padding">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="mb-3">เปลี่ยนรหัสผ่าน</h2>
          <div class="text-center">
            <form
              [formGroup]="formChangepassword"
              (ngSubmit)="formChangepassword.valid ? onChangepassword() : ''"
            >
              <mat-form-field>
                <mat-label>รหัสผ่านเก่า</mat-label>
                <input
                  matInput
                  placeholder="รหัสผ่านเก่า"
                  type="password"
                  required
                  formControlName="oldpassword"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>รหัสผ่าน</mat-label>
                <input
                  matInput
                  placeholder="รหัสผ่าน"
                  type="password"
                  formControlName="password"
                  required
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>ยืนยันรหัสผ่าน</mat-label>
                <input
                  matInput
                  placeholder="ยืนยันรหัสผ่าน"
                  type="password"
                  formControlName="password2"
                  required
                />
              </mat-form-field>

              <div style="margin-top: 20px" class="text-center">
                <button type="submit" class="btn btn-primary btn-sm">
                  ตกลง
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
