<div class="card">
  <div class="card-body" style="overflow: auto">
    <div class="row">
      <div class="col-7 mb-3">
        <h2>ข้อสอบทั้งหมด</h2>
      </div>
      <div class="col-5 mb-3">
        <div class="text-right">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#exampleModalCreactExam"
            (click)="formExamInit()"
          >
            เพิ่มข้อสอบ
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>แสดงตามจุดประสงค์</mat-label>
          <mat-select [(ngModel)]="selectPurpose">
            <mat-option [value]="''">
              {{ "ทั้งหมด" }}
            </mat-option>
            <mat-option [value]="'shared'">
              {{ "ข้อสอบที่ได้รับจากระบบแบ่งปันข้อสอบ" }}
            </mat-option>
            <mat-option
              *ngFor="let x of readPurpose()"
              [value]="service.jsParse(x)"
            >
              {{ service.jsParse(x)["unit_name"] }} :
              {{ service.jsParse(x)["purpose_name"] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-xl-4"></div>
      <div class="col-xl-4"></div>
    </div>

    <div *ngIf="selectPurpose == 'shared'" class="mb-3 text-danger">
      ** ข้อสอบที่ได้รับจากระบบแบ่งปันข้อสอบจะไม่สามารถใช้ได้
      หากไม่ทำการจัดหน่วยการเรียนรู้และจุดประสงค์
    </div>
    <div class="mb-3">
      <div style="overflow: auto">
        <table class="table table-sm table-borderless table-hover">
          <thead>
            <tr class="text-center">
              <th>รหัส</th>
              <th style="text-align: left">โจทย์</th>
              <th>ฐานข้อมูล</th>
              <th>คะแนน</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of filterMyExam(); let i = index">
              <td
                style="
                  vertical-align: middle;
                  text-align: center;
                  min-width: 60px;
                "
              >
                {{ service.zeroPad(x.storeID, 1000) }}
              </td>
              <td style="vertical-align: middle; min-width: 200px">
                {{ replaceText(x.text) }}
              </td>
              <td
                style="
                  vertical-align: middle;
                  text-align: center;
                  min-width: 120px;
                "
              >
                {{ x.databaseName }}
              </td>
              <td
                style="
                  vertical-align: middle;
                  text-align: center;
                  min-width: 120px;
                "
              >
                {{ x.score }}
              </td>
              <td
                style="
                  vertical-align: middle;
                  text-align: center;
                  min-width: 350px;
                "
              >
                <button
                  type="button"
                  class="btn btn-primary btn-sm mr-2"
                  data-toggle="modal"
                  data-target="#exampleModalPreviewExam"
                  (click)="examSelected = x; onCheckupdateexam(x)"
                >
                  แสดง
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-sm ml-2 mr-2"
                  data-toggle="modal"
                  data-target="#exampleModalTeaher"
                  *ngIf="selectPurpose != 'shared'"
                  (click)="selectExam(x)"
                >
                  แบ่งปันข้อสอบ
                </button>

                <button
                  type="button"
                  class="btn btn-warning btn-sm ml-2 mr-2"
                  (click)="onCheckupdateexam(x)"
                  data-toggle="modal"
                  data-target="#exampleModalCreactExam"
                >
                  แก้ไข
                </button>

                <button
                  type="button"
                  class="btn btn-danger btn-sm ml-2"
                  (click)="onDeleteexam(x)"
                >
                  ลบ
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal exampleModalCreactExam-->
<div
  class="modal fade"
  id="exampleModalCreactExam"
  tabindex="-1"
  aria-labelledby="exampleModalCreactExamLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <form
      [formGroup]="formInsertexam"
      (ngSubmit)="formInsertexam.valid ? onInsartexam() : ''"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalCreactExamLabel">
            {{ checkEditexam ? "แก้ไขข้อสอบ" : "เพิ่มข้อสอบ" }}
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body box-padding">
          <mat-form-field>
            <mat-label>หน่วยการเรียนรู้</mat-label>
            <mat-select
              #examUnitID
              (selectionChange)="onGetselectunit(examUnitID.value)"
              formControlName="UnitID"
            >
              <mat-option [value]="x.examUnitID" *ngFor="let x of getunit">{{
                x.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="getpurposeTable != null">
            <mat-label>จุดประสงค์</mat-label>
            <mat-select formControlName="purposeID_fk">
              <mat-option
                [value]="x.exampurposeID"
                *ngFor="let x of getpurposeTable"
                >{{ x.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>ฐานข้อมูล</mat-label>
            <mat-select formControlName="databaseName">
              <mat-option
                [value]="x.database_name"
                *ngFor="let x of databaseResult"
                >{{ x.database_name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <div class="mb-3">
            <textarea
              [froalaEditor]="options"
              formControlName="text"
            ></textarea>
          </div>

          <mat-form-field>
            <mat-label>คำตอบ</mat-label>
            <textarea
              matInput
              placeholder="คำตอบ"
              formControlName="answer"
              rows="3"
            ></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-chip-list
              #chipList
              aria-label="Fruit selection"
              required
              formControlName="keyword"
            >
              <mat-chip
                *ngFor="let key of keyword"
                [selectable]="'true'"
                [removable]="'true'"
                (removed)="remove(key)"
              >
                {{ key }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="คำสำคัญ"
                #keywordInput
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="'true'"
                (matChipInputTokenEnd)="add($event)"
                [formControl]="keywordCtrl"
              />
            </mat-chip-list>

            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let keyword of filteredKeyword | async"
                [value]="keyword"
              >
                {{ keyword }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="mb-3">
            <mat-form-field>
              <input
                matInput
                placeholder="คะแนน"
                type="number"
                required
                formControlName="score"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            data-dismiss="modal"
          >
            ปิด
          </button>
          <button type="submit" class="btn btn-primary btn-sm">บันทึก</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal Preview Exam -->
<div
  class="modal fade"
  id="exampleModalPreviewExam"
  tabindex="-1"
  aria-labelledby="exampleModalPreviewExamLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" *ngIf="examSelected">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalPreviewExamLabel">
          <h2>ข้อมูลข้อสอบ</h2>
          <h4>รหัสข้อสอบ {{ examSelected.storeID }}</h4>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="mb-2">
          <b>หน่วยการเรียนรู้ : </b>{{ examSelected.unit_name }}
        </h4>
        <h4 class="mb-2">
          <b>จุดประสงค์ : </b>{{ examSelected.purpose_name }}
        </h4>
        <h4 class="mb-2"><b>ฐานข้อมูล : </b>{{ examSelected.databaseName }}</h4>
        <h4 class="mb-2">
          <b>โจทย์ : </b>
        </h4>
        <div [froalaView]="examSelected.text" class="mb-2"></div>

        <div
          *ngIf="
            service.jsParse(examSelected.teacherResult).isQuery;
            else errQuery
          "
          style="overflow: auto"
          class="mb-2"
        >
          <h4 class="mb-2">
            <b>ผลลัพธ์ : </b>
          </h4>
          <table
            class="table table-sm table-bordered table-hover"
            *ngIf="
              getKeyObject(service.jsParse(examSelected.teacherResult).result)
                .length > 0
            "
          >
            <thead>
              <tr>
                <th
                  *ngFor="
                    let x of getKeyObject(
                      service.jsParse(examSelected.teacherResult).result
                    )
                  "
                >
                  {{ x }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let x of service.jsParse(examSelected.teacherResult).result
                "
              >
                <td *ngFor="let xx of getKeyObject(x)">{{ x[xx] }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #errQuery>
          <div class="mb-2">
            <h4>
              <b>ผลลัพธ์ : </b
              >{{ service.jsParse(examSelected.teacherResult).message }}
            </h4>
          </div>
        </ng-template>

        <h4 class="mb-2"><b>คำตอบ : </b>{{ examSelected.answer }}</h4>
        <h4 class="mb-2"><b>คำสำคัญ : </b>{{ showKeyword() }}</h4>
        <h4 class="mb-2"><b>คะแนน : </b>{{ examSelected.score }}</h4>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalTeaher"
  tabindex="-1"
  aria-labelledby="exampleModalTeaherLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" *ngIf="examSelected">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalTeaherLabel">
          <h2>เลือกผู้ที่รับข้อสอบ</h2>
          <h4>รหัสข้อสอบ {{ examSelected.storeID }}</h4>
        </div>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="overflow: auto">
          <table class="table table-sm table-borderless table-hover">
            <thead>
              <tr>
                <th></th>
                <th>ชื่อ - นามสกุล</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of teacherResult; let i = index">
                <td style="vertical-align: middle">{{ i + 1 }}</td>
                <td style="vertical-align: middle">
                  {{ x.prename }}{{ x.firstNameThai }} {{ x.lastNameThai }}
                </td>
                <td style="vertical-align: middle">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    (click)="shareExam(x)"
                  >
                    เลือก
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
