.sidenav-container {
  height: 100%;
  background-color: #fafafa;
}

.sidenav {
  width: 270px;
  border: unset;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  color: #fff;
  background-color: #2da745;
}

.menuActive {
  color: #2da745 !important;
  font-weight: bold;
  background-color: #fafafa;
  border-right: 3px solid #2da745;
}

.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}
