<!--ดูlog-->
<div class="box-padding">
  <div class="card">
    <div class="card-body">
      <h2>ประวัติการเข้าใช้งานระบบ</h2>
      <div class="text-center mb-3">
        <table class="table table-sm table-borderless table-hover">
          <thead>
            <tr>
              <th></th>
              <th>ที่อยู่ IP</th>
              <th>สถานะ</th>
              <th>เวลา</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of logResult; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ x.ip_address }}</td>
              <td>{{ x.status }}</td>
              <td>{{ x.times }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
