<p>log-student works!</p>
<!--ดูlog-->
<div class="text-center mb-3">
  <table class="table table-sm table-borderless table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>ip_address</th>
        <th>status</th>
        <th>times</th>
        <th>uid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of logResult; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ x.ip_address }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.times }}</td>
        <td>
          {{x.uid}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
