<!--ดูlog-->
<div class="box-padding">
  <div class="card">
    <div class="card-body">
      <h2 class="mb-3">ประวัติการเข้าใช้งานระบบ</h2>

      <div class="text-center" *ngIf="logResult != null">
        <table class="table table-sm table-borderless table-hover">
          <thead>
            <tr>
              <th></th>
              <th>ที่อยู่ IP</th>
              <th>สถานะ</th>
              <th>เวลา</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let x of logResult
                  | paginate
                    : {
                        id: 'pagiShowlog',
                        itemsPerPage: 10,
                        currentPage: pagiShowlog
                      };
                let i = index
              "
            >
              <td>{{ pagiShowlog * 10 - 10 + (i + 1) }}</td>
              <td>{{ x.ip_address }}</td>
              <td>{{ x.status }}</td>
              <td>{{ x.times }}</td>
            </tr>
          </tbody>
        </table>

        <pagination-controls
          id="pagiShowlog"
          *ngIf="logResult.length > 10"
          responsive="true"
          previousLabel="ย้อนกลับ"
          nextLabel="ถัดไป"
          (pageChange)="pagiShowlog = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
