<div class="box-padding">
  <div class="row" *ngIf="checkPassword">
    <div class="col-lg-3 col-mb-2"></div>
    <div class="col-lg-6 col-mb-8" *ngIf="Getexamtopicdata">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h3>
              <b>ชื่อชุดข้อสอบ : </b
              >{{ Getexamtopicdata["result"][0].exbody_head }}
            </h3>
            <h3>
              <b>กลุ่มเรียน : </b>{{ Getexamtopicdata["result"][0].group_name }}
            </h3>
            <h3>
              <b>คำสั่ง : </b>{{ Getexamtopicdata["result"][0].topicText }}
            </h3>
            <div class="text-danger mt-3" *ngIf="countdownInterval == null">
              <h4>
                <b>เริ่มการสอบ : </b
                >{{ timeRemake(Getexamtopicdata["result"][0].timeStart) }}
              </h4>
              <h4>
                <b>สิ้นสุดการสอบ : </b
                >{{ timeRemake(Getexamtopicdata["result"][0].timeEnd) }}
              </h4>
            </div>
            <h3 class="text-success mt-3" *ngIf="countdownInterval != null">
              <b>เวลาสอบที่เหลือ : </b>{{ timeCountdow }}
            </h3>
          </div>

          <h3 class="mb-3">โปรดระบุรหัสเข้าสอบ</h3>
          <form
            #cPass="ngForm"
            (ngSubmit)="
              countdownInterval != null
                ? checkTopicpassword(cPass.value.password)
                : ''
            "
          >
            <mat-form-field appearance="outline">
              <mat-label>รหัสเข้าสอบ</mat-label>
              <input
                matInput
                placeholder="รหัสเข้าสอบ"
                type="text"
                name="password"
                ngModel
              />
            </mat-form-field>

            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary btn-sm"
                [disabled]="countdownInterval == null || isIPAddress == false"
              >
                ตกลง
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-mb-2"></div>
  </div>

  <!--ข้อสอบบบ-->
  <div *ngIf="checkPassword == false">
    <form [formGroup]="answerFrom" (ngSubmit)="onSubmitAnswer(true)">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h3>
                <b>ชื่อชุดข้อสอบ : </b
                >{{ Getexamtopicdata["result"][0].exbody_head }}
              </h3>
              <h3>
                <b>กลุ่มเรียน : </b
                >{{ Getexamtopicdata["result"][0].group_name }}
              </h3>
              <h3>
                <b>คำสั่ง : </b>{{ Getexamtopicdata["result"][0].topicText }}
              </h3>
              <hr />
              <div class="text-center">
                <h3><b>เวลาสอบที่เหลือ</b></h3>
                {{ timeCountdow }}
              </div>

              <div class="text-center">
                <div
                  *ngFor="let x of Getexamtopicdata.topicData; let i = index"
                  class="list-box border"
                  (click)="listSelect = i"
                  [ngClass]="{ 'border-primary': listSelect == i }"
                >
                  <div class="topBox border-bottom">{{ i + 1 }}</div>
                  <div
                    class="bottomBox"
                    [ngClass]="{
                      'bg-success':
                        answerFrom.get('answerList')['controls'][i].value
                          .studentAnswer.length > 0,
                      'bg-danger':
                        answerFrom.get('answerList')['controls'][i].value
                          .studentAnswer.length <= 0
                    }"
                  ></div>
                </div>
              </div>
              <hr />
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm">
                  สิ้นสุดการทำแบบทดสอบ
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 mb-3">
          <div
            class="card"
            *ngFor="let x of Getexamtopicdata.topicData; let i = index"
            formArrayName="answerList"
            [hidden]="i != listSelect"
          >
            <div [formGroupName]="i">
              <div class="card">
                <div class="card-body">
                  <h3><b>หน่วยการเรียนรู้ : </b>{{ x.unit_name }}</h3>
                  <h3><b>จุดประสงค์ : </b>{{ x.purpose_name }}</h3>
                  <h3><b>ชื่อฐานข้อมูลที่ใช้ : </b>{{ x.databaseName }}</h3>
                  <h3 class="mb-3"><b>โจทย์ : </b></h3>
                  <div [froalaView]="x.text" class="mb-3 mt-3"></div>

                  <div
                    *ngIf="service.jsParse(x.teacherResult)"
                    style="overflow: auto"
                    class="mb-2"
                  >
                    <div *ngIf="service.jsParse(x.teacherResult).isQuery">
                      <h4 class="mb-2">
                        <b>ผลลัพธ์ : </b>
                      </h4>
                      <table
                        class="table table-sm table-bordered table-hover"
                        *ngIf="
                          getKeyObject(service.jsParse(x.teacherResult).result)
                            .length > 0
                        "
                      >
                        <thead>
                          <tr>
                            <th
                              *ngFor="
                                let xx of getKeyObject(
                                  service.jsParse(x.teacherResult).result
                                )
                              "
                            >
                              {{ xx }}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let xx of service.jsParse(x.teacherResult).result
                            "
                          >
                            <td *ngFor="let xxx of getKeyObject(xx)">
                              {{ xx[xxx] }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <h3 class="mb-3"><b>คะแนน : </b>{{ x.score }}</h3>

                  <div
                    class="mt-3 mb-3 border border-success box-padding"
                    style="border-radius: 5px"
                    [hidden]="Getexamtopicdata['result'][0].statusAdvice != '1'"
                  >
                    <!-- <h3><b>คำแนะนำ</b></h3>
                    <div class="ml-3 mr-3 mb-2">
                      <p>
                        คำสำคัญที่ควรมี :
                        {{ service.jsParse(x.keyword).join(", ") }}
                      </p>
                    </div> -->

                    <h3><b>คำแนะนำ (วิเคราะห์จากคำตอบ)</b></h3>
                    <div class="ml-3 mr-3">
                      <p class="text-danger">
                        {{ "คำสำคัญที่ขาด " + sqlFormat.keywordMissing }}
                      </p>

                      <p *ngIf="sqlFormat.isTrue" class="text-success mt-3">
                        {{ "รูปแบบคำสั่งถูกต้อง" }}
                      </p>

                      <p *ngIf="!sqlFormat.isTrue" class="text-danger mt-3">
                        {{ sqlFormat.message }}
                      </p>
                    </div>
                  </div>

                  <mat-form-field appearance="outline">
                    <mat-label>คำตอบ</mat-label>
                    <textarea
                      #answerTextInput
                      matInput
                      placeholder="คำตอบ"
                      formControlName="studentAnswer"
                      (blur)="onSubmitOneAnswer(i, x)"
                      (focus)="
                        answerKeyup(
                          answerTextInput.value,
                          service.jsParse(x.keyword)
                        )
                      "
                      (keyup)="
                        answerKeyup(
                          answerTextInput.value,
                          service.jsParse(x.keyword)
                        )
                      "
                      rows="4"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- 
 -->
