<p>forget-password works!</p>

<div class="text-center mb-3">
  <form
    [formGroup]="formForgetpass"
    (ngSubmit)="formForgetpass.valid ? onForgetpassword() : ''"
  >
    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="ชื่อผู้ใช้"
          type="text"
          required
          formControlName="username"
        />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="ชื่อจริง"
          type="text"
          required
          formControlName="fname"
        />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="นามสกุล"
          type="text"
          required
          formControlName="lname"
        />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="รหัสประชาชน"
          type="text"
          required
          formControlName="personalId"
        />
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="รหัสผ่านใหม่"
          type="password"
          required
          formControlName="password"
        />
      </mat-form-field>
    </div>
    <div style="margin-top: 20px;" class="text-center mb-1">
      <button type="submit" class="btn btn-primary">
        ตกลง
      </button>
    </div>
  </form>
</div>
