<p>group-student works!</p>
<!--เพิ่ม&เเก้ไขกลุ่มเรียน-->
<div class="text-center mb-3">
  <form
    [formGroup]="formInsertgroup"
    (ngSubmit)="formInsertgroup.valid ? onInsartgroup() : ''"
  >
    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="ชื่่อกลุ่ม (namegroup)"
          type="text"
          required
          formControlName="groupname"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="สถานะ (status)"
          type="text"
          required
          formControlName="status"
        />
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field>
        <input
          matInput
          placeholder="รหัสกลุ่ม (grouppassword)"
          type="text"
          required
          formControlName="password"
        />
      </mat-form-field>
    </div>
    <div style="margin-top: 20px;" class="text-center mb-1">
      <button type="submit" class="btn btn-primary">
        ตกลง
      </button>
    </div>
  </form>
</div>
<!--เเสดงกลุ่มเรียน-->
<table class="table table-sm table-borderless table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>createAt</th>
      <th>groupID</th>
      <th>name</th>
      <th>owner</th>
      <th>password</th>
      <th>status</th>
      <th>year</th>
      <th>edit</th>
      <th>editstudent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of groupStudent; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ x.createAt }}</td>
      <td>{{ x.groupID }}</td>
      <td>{{ x.name }}</td>
      <td>{{ x.owner }}</td>
      <td>{{ x.password }}</td>
      <td>{{ x.status }}</td>
      <td>{{ x.year }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onEditgroup(x.groupID, x.name, x.status, x.password)"
        >
          เเก้ไขกลุ่ม
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="getStudentingroup(x.groupID)"
        >
          เเก้ไขนักเรียนในกลุ่ม
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!--เเสดงนักเรียนในกลุ่ม-->
<table class="table table-sm table-borderless table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>firstNameThai</th>
      <th>lastNameThai</th>
      <th>studentId</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of studentingroup; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ x.firstNameThai }}</td>
      <td>{{ x.lastNameThai }}</td>
      <td>{{ x.studentId }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onDeletestudent(x.uid,x.groupid_fk)"
        >
          ลบ
        </button>
      </td>
    </tr>
  </tbody>
</table>
